html {
    scroll-behavior: smooth;
    /*повільне гортання сторінки вгору*/
}

.up {
    background: silver;
    height: 60px;
    width: 60px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50px;
    /*заокруглення*/

    position: fixed;
    /*розташування знизу праворуч*/
    bottom: 70px;
    right: 70px;
}

.submenu {
    position: absolute;
    left: -999px;
    transition: 1s;
    /*час появи*/
    background: slategrey;
}

li:hover>.submenu {
    left: 0;
}